body{
    margin: 0px;
    padding: 0px;
    background-color: #ecf1f5;
}

nav{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #3a5795;
}

.email{
    display: inline-block;
    color: white;
    text-align: left;
    margin-top: 20px;
    margin-right: 20px;
    font-family: "Nunito Sans", sans-serif;
}

#keeplog{
    font-size: 12px;
    color: lightgray;
}

#forpass{
    font-size: 12px;
    color: lightgray;
    line-height: 23px;
}

.pass{
    position: absolute;
    display: inline-block;
    color: white;
    text-align: left;
    margin-top: 20px;
    margin-right: 20px;
    font-family: "Nunito Sans", sans-serif;
}

.pass a{
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
}

.login{
    position: absolute;
    display: inline-block;
    color: white;
    margin-top: 34px;
    margin-left: 197px;
}

.login button{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    color: white;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border: 2px solid #455e95;
    background-color: #637aac;
}

.login button:active{
    background-color: white;
    color: #637aac;
}

#container{
    margin-left: 600px;
    display: inline-block;
}

.logo{
    height: 100px;
    margin-left: 280px;
    line-height: 0px;
    font-size: 45px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    color: white;
    display: inline-block;
}

.left{
    float: left;
    width: 55%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.right{
    float: right;
    width: 45%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0px;
    font-family: "Nunito Sans", sans-serif;
    color: #37393a;
}

.right p{
    margin-top: 0px;
    font-size: 25px;
    font-weight: 100;
    font-family: "Nunito Sans", sans-serif;
    color: #37393a;
}

form input[type=text]{
    padding-left: 10px;
    border-radius: 8px;
    font-family: "Nunito Sans", sans-serif;
    border: 1px solid #d6dde7;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 555px;
    height: 50px;
}

#inline{
    margin: 10px 5px 10px 5px;
    width: 270px;
    height: 50px;
}

form label{
    margin-left: 5px;
    font-size: 25px;
    color: #37393a; 
}

#birth{
    border: 1px solid #d6dde7;
    height: 35px;
    width: 100px;
    margin-bottom: 20px;
    margin-left: 5px;
    color: #37393a;
}

.birthlink{
    display: inline-block;
    margin-left: 15px;
    position: absolute;
}

form a{
    text-decoration: none;
}

.right button{
    margin-left: 5px;
    margin-top: 20px;
    width: 210px;
    height: 50px;
    border: none;
    border: 1px solid green;
    border-radius: 8px;
    background: linear-gradient(#6bac57, #578b45);
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.right button:active{
    background: linear-gradient(#578b45, #6bac57);

}

#endtext{
    margin-left: 5px;
    font-size: 15px;
}

.line{
    margin-top: 25px;
    margin-left: 5px;
    width: 555px;
}

#endendtext{
    margin-top: 20px;
    margin-left: 5px;
    font-size: 17px;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    color: #37393a;
}

.left{
    position: relative;
}

.headin{
    margin-top: 100px;
    font-family: "Nunito Sans", sans-serif;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    color: #37393a;
}

.bigbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, 55%);
}

.box1 span{
    color: #adb8d2;
    font-size: 90px;
}

.box2 span{
    color: #adb8d2;
    font-size: 90px;
}

.box3 span{
    color: #adb8d2;
    font-size: 90px;
}

.box1{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 742.5px;
}

.box2{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 742.5px;
}

.box3{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 742.5px;
}

.first{
    position: absolute;
    display: inline-block;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    margin: 0px;
    font-weight: 700;
    margin-right: 10px;
    color: #37393a;
}

.second{
    position: absolute;
    display: inline-block;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    margin: 0px;
    color: #37393a;
}

#box1text1{
    top: 16%;
    left: 14%
}

#box1text2{
    top: 16%;
    left: 46%;
}

#box2text1{
    top: 46%;
    left: 14%
}

#box2text2{
    top: 46%;
    left: 38%;
}

#box3text1{
    top: 76%;
    left: 14%
}

#box3text2{
    top: 76%;
    left: 28%;
}